@use "styles/themes/priorities";

.column {
  width: 26.5ch;
  min-height: 100vh;

  .head,
  .body {
    display: flex;
    align-items: center;
    background: rgb(0 0 0 / 10%);
    border-radius: 3px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    .add {
      border-radius: 3px;
      color: #777;
    }

    .name {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.2rem 0.4rem;
      border-radius: 3px;
      filter: grayscale(20%) opacity(0.9);

      &.unset,
      &.todo,
      &.doing,
      &.complete {
        filter: none;
        opacity: 1;
        color: #fff;
      }

      &.unset {
        background: rgb(0 0 0 / 30%);
      }

      &.todo {
        background: rgb(209, 141, 129);
      }
      &.doing {
        background: rgb(209, 182, 125);
      }
      &.complete {
        background: rgb(125, 182, 125);
      }
    }
  }

  .body {
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    gap: 0.8rem;
  }
}

@media screen and (min-width: 1300px) {
  .column {
    width: 28ch;
  }
}

@media screen and (min-width: 1450px) {
  .column {
    width: 30ch;
  }
}

@media screen and (min-width: 1600px) {
  .column {
    width: 32ch;
  }
}
