/* Unselected Task */

.task-transition-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.task-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

.task-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.task-transition-exit-active {
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.3s ease-out;
}

/* Selected Task */

.task-selected-transition-enter {
  position: fixed;
  opacity: 0;
}
.task-selected-transition-enter-active {
  opacity: 0;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}
.task-selected-transition-enter-done {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 1;
  transition: all 0.3s ease;
}

.task-selected-transition-exit {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 1;
}
.task-selected-transition-exit-active {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.3s ease;
}
