.container {
  flex-basis: 100%;
  position: relative;
  margin: 1rem 0;
}

.input {
  border: 1px solid #ced4da;
  outline: 0;
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
  transition: border 0.15s, box-shadow 0.15s;

  &:focus {
    border: 1px solid #86b7fe;
    box-shadow: 0 0 0 5px #b9d3fa;
  }
}

.error {
  animation: slideDown 0.3s ease-out;
  background: rgba(243, 2, 22, 0.561);
  border-radius: 5px;
  padding: 1rem;
}

@keyframes slideDown {
  0% {
    position: absolute;
    z-index: -1;
    transform: translate(0, -100%);
    opacity: 0;
  }

  75% {
    z-index: -1;
    transform: translate(0, -25%);
  }

  100% {
    z-index: 1;
    opacity: 1;
    transform: translate(0, 0);
  }
}
