@use "../../../../styles/themes/colors";
@use "../../../../styles/themes/backgrounds";

.menu_item {
  color: #fff;
  border: 1px solid rgb(0 0 0 / 30%);
  background: rgb(0 0 0 / 15%);
  padding: 0.8rem 1rem;
  font-size: 1rem;

  cursor: pointer;

  &:hover,
  &:focus {
    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.65);
  }
}
