.container {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  overflow: hidden;

  input {
    color: #ffffffcc;
    padding: 0.2rem 0.2rem;
    background: rgb(0 0 0 / 30%);
    border-color: rgb(0 0 0 / 45%);

    &:focus {
      box-shadow: none;
    }
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
