@use "../../common/generic/Button/index.module.scss" as buttons;

.head {
  margin: auto;
  max-width: 600px;

  .search {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      @include buttons.btn_primary;
      flex-shrink: 0;
      font-size: 2.5rem;
      padding: 1.1rem;
    }
  }

  .order {
    display: flex;
    font-size: 0.8rem;
  }
}
