@use "../TaskPriority/index.module.scss"; // creates classes based on priority

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgb(0 0 0 / 35%);
  width: 35ch;
  transition: width 0.2s;
  cursor: pointer;

  & > div {
    border-radius: inherit;
  }

  button {
    color: inherit;
  }

  &.selected {
    width: 100%;
    max-width: 60ch;
    cursor: initial;
  }

  &.table {
    border-radius: 5px;
    width: 100%;
    min-width: 30ch;
    max-width: 35ch;
    box-shadow: 0 0 20px 2px rgb(0 0 0 / 20%);
  }
}

@media screen and (max-width: 680px) {
  .task {
    width: 100%;
    max-width: 45ch;
  }
}
