.background-transition-enter {
  opacity: 0;
}

.background-transition-enter-active {
  opacity: 0.5;
  transition: opacity 0.5s ease-in;
}

.background-transition-exit {
  opacity: 0.5;
}

.background-transition-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
