@use "styles/abstracts/mixins";

.textarea {
  color: inherit;
  display: block;
  background: inherit;
  width: 100%;
  resize: none;
  border: 0;
  outline: 0;
  font-weight: inherit;

  &::placeholder {
    @include mixins.muted;
  }
}
