.tasks-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tasks-container {
  margin: 1rem;
}

.tasks-head {
  margin: auto;
  max-width: 600px;
}

.tasks-search {
  display: flex;
  align-items: center;
}

.tasks-search .form-group {
  flex-basis: 100%;
  margin-right: 1rem;
}

.tasks-search .btn {
  flex-shrink: 0;
  font-size: 2.5rem;
  padding: 1.1rem;
}

.tasks-order {
  display: flex;
  font-size: 0.8rem;
}

.tasks-grid-container {
  justify-content: center;
}

@media screen and (min-width: 680px) {
  .tasks-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tasks-grid-container {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .tasks-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1330px) {
  .tasks-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1690px) {
  .tasks-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
