.notfound-container {
  background: #444;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.notfound-container h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}

.notfound-container h2 {
  font-size: 2em;
}

.notfound-container a {
  margin: 1.5rem;
  font-size: 1.3em;
}

.notfound-container p {
  font-size: 1.5em;
}
.notfound-container span {
  color: rgb(255, 86, 86);
}

@media screen and (width < 450px) {
  .notfound-container {
    font-size: 0.6rem;
  }
}
