textarea {
  color: inherit;
  display: block;
  background: inherit;
  width: 100%;
  resize: none;
  border: 0;
  outline: 0;
  font-weight: inherit;
}

textarea::placeholder {
  color: rgb(0 0 0 / 35%);
}

.highlighted {
  background: rgba(255, 255, 0, 0.7);
}
