:root {
  --shadow-color: rgb(0 0 0 / 35%);
  --background-color-main: #1d83ff;
  --background-color-secondary: #00a2ff;
  --background-color-gradient: linear-gradient(135deg, #1d83ff 0%, #00a2ff 50%);
  --task-border: 1.5px solid #444;
  --task-fade-transition: 0.5s;
  --btn-color-blue: rgb(31, 143, 255);
  --pill-border-radius: 2.5em;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 25%);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0 0 0 / 0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fix / hack for fading out background before it disappears */
@keyframes backgroundFadeOutHeight {
  0% {
    height: 100vh;
  }

  100% {
    height: 100vh;
  }
}

main.container {
  margin-top: 1rem;
}

.separator {
  background-color: rgb(0 0 0 / 20%);
  border: 0;
  margin: 1rem 0.5rem;
  height: 1px;
}

.muted {
  color: var(--shadow-color);
}
