:root {
  --background-main: #faeec6;
  --background-main-webkit-gradient: -webkit-linear-gradient(
    135deg,
    #ffffff,
    #faeec6
  );
  --background-main-gradient: linear-gradient(135deg, #f0f0f0, #faeec6);
  --background-blue: #1d83ff;
  --background-blue-webkit-gradient: -webkit-linear-gradient(
    135deg,
    #1d83ff 10%,
    #00c3ff 70%
  );
  --background-blue-gradient: linear-gradient(135deg, #1d83ff 10%, #00c3ff 70%);
  --background-red: #d61212;
  --background-red-webkit-gradient: -webkit-linear-gradient(
    135deg,
    #d61212 10%,
    #e42d15
  );
  --background-red-gradient: linear-gradient(135deg, #d61212 10%, #e42d15);
  --background-purple: #a514be;
  --background-purple-webkit-gradient: -webkit-linear-gradient(
    135deg,
    #a514be 10%,
    #db1e83
  );
  --background-purple-gradient: linear-gradient(135deg, #a514be 10%, #db1e83);
  --background-green: #0aad77;
  --background-green-webkit-gradient: -webkit-linear-gradient(
    135deg,
    #0aad77 10%,
    #40ce4b
  );
  --background-green-gradient: linear-gradient(135deg, #0aad77 10%, #40ce4b);
  --pill-border-radius: 2.5em;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 25%);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0 0 0 / 0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.separator {
  background-color: rgb(0 0 0 / 20%);
  border: 0;
  margin: 1rem 0.5rem;
  height: 1px;
}

.muted {
  color: rgb(0 0 0 / 35%);
}
