:root {
  --nav-height: 4rem;
}

.nav {
  background-color: var(--background-color-main);
  background: var(--background-color-gradient);
  height: var(--nav-height);
  box-shadow: 0 2px 4px var(--shadow-color);
  color: #fff;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.nav-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow: 0 0 2px #fff;
}

.nav-item {
  position: relative;
  font-size: 1.5rem;
}

.nav-item .btn {
  transition: transform 0.65s;
}

.spin {
  transform: rotate(-180deg);
}

a {
  text-decoration: none;
  color: unset;
}

@media screen and (min-width: 750px) {
  :root {
    --nav-height: 4.5rem;
  }
}
