.sort-tasks {
  display: flex;
  align-items: center;
  background: var(--background-blue);
  background: var(--background-blue-webkit-gradient);
  background: var(--background-blue-gradient);
  border-radius: var(--pill-border-radius);
  padding: 0.1rem;
}

.sort-tasks .btn {
  border-radius: 0;
}

.sort-tasks .sort-order {
  border-right: 1px solid rgb(0 0 0 / 10%);
  border-top-left-radius: var(--pill-border-radius);
  border-bottom-left-radius: var(--pill-border-radius);
}
.sort-tasks .sort-by {
  padding: 0.5rem;
  border-top-right-radius: var(--pill-border-radius);
  border-bottom-right-radius: var(--pill-border-radius);
}

.sort-tasks .dropdown-menu {
  background: var(--background-blue);
  background: var(--background-blue-webkit-gradient);
  background: var(--background-blue-gradient);
  color: #fff;
  top: 2.3rem;
  left: 0rem;
  right: 0.5rem;
  min-width: 80px;
}

.sort-tasks .menu-item {
  justify-content: center;
}
