.task {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30ch;
  background: var(--background-color-main);
  background: linear-gradient(
    135deg,
    var(--background-color-main) 0%,
    var(--background-color-secondary) 100%
  );
  box-shadow: 0 0 1rem 2px var(--shadow-color);
  transition: width 0.2s;
}

.task.expanding {
  animation: fadeIn 1s;
}

.task.selected {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 60ch;
}

.task-main {
  padding: 0.25rem;
}

.task.selected .task-main {
  max-height: 80vh;
  overflow: auto;
}

.task-main::-webkit-scrollbar {
  width: 8px;
}

.task.selected .task-content,
.task.selected .task-title {
  height: initial;
}

.task-title {
  padding: 0.7rem 1rem 0;
  font-size: 1.35rem;
  font-weight: 600;
  height: 2.5rem;

  -webkit-line-clamp: 1;
}

.task-content,
.task-title {
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.task-content {
  padding: 0 1rem 0.5rem;
  height: 17rem;

  -webkit-line-clamp: 13;
}

.task-info {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.task-date {
  padding-top: 0.7em;
}

.task-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--shadow-color);
  box-shadow: 0 -2px 5px -1.5px var(--shadow-color);
}

.footer-toolbar {
  font-size: 1.2rem;
  display: flex;
}

.float-right {
  padding: 0;
  float: right;
}

.float-right::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 650px) {
  .task {
    width: 100%;
    max-width: 45ch;
  }
}
