.task {
  color: aliceblue;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 30ch;
  background: #1d83ff;
  background: linear-gradient(135deg, #1d83ff 0%, #00a2ff 100%);
  box-shadow: 0 0 1rem 2px rgb(0 0 0 / 35%);
}

.task.selected {
  animation: fadeIn 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 60ch;
}

.task.selected .task-main {
  max-height: 70vh;
  overflow: hidden;
}

.task.selected .task-title,
.task.selected .task-content {
  height: unset;
}

/* .task-topbar {
  display: flex;
  justify-content: right;
  border-bottom: 1px solid var(--task-shadow-color);
  box-shadow: 0 2px 5px -1.5px var(--task-shadow-color);
} */

.task-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--task-shadow-color);
  box-shadow: 0 -2px 5px -1.5px var(--task-shadow-color);
}

.task-title {
  padding: 0.7rem 1rem 0;
  font-size: 1.35rem;
  font-weight: 600;
  height: 2.5rem;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.task-content {
  padding: 0 1rem 0.5rem;
  height: 17rem;
  overflow: auto;
}

.task-content,
.task-title {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.task-date {
  text-align: right;
  font-size: 0.8rem;
  margin: 0 1rem 0.5rem;
}

.float-right {
  float: right;
}

.float-right::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 650px) {
  .task {
    width: 100%;
    max-width: 45ch;
  }
}
