.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .reminder {
    padding: 0 0.5rem;
    font-size: 1.1em;
    .icon {
      margin-right: 1rem;
    }
  }
}
