@use "../../../styles/themes/colors";
@use "../../../styles/themes/backgrounds";

.menu_item {
  color: #fff;
  border: 1px solid rgb(0 0 0 / 30%);
  background: rgb(0 0 0 / 15%);
  padding: 0.8rem 1rem;
  font-size: 1rem;
  transition: border 0.15s, border-radius 0.15s, background-color 0.5s;

  cursor: pointer;

  &.selected {
    border: 3px solid rgba(255, 255, 255, 0.85);
    background: rgb(0 0 0 / 40%);
    border-radius: 3px;
  }
}
