@use "../../../common/Button/index.module.scss" as buttons;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 100%;

  button {
    @include buttons.btn-clear;
    padding: 0;
    font-size: 0.8rem;
  }

  .hover {
    display: flex;
  }

  &.deleting {
    text-decoration: line-through;
    color: #777;
  }
}
