@use "../../../../styles/themes/backgrounds";
@use "../../../../styles/themes/borders";
@use "../../../common/Button/index.module.scss" as buttons;

.container {
  display: flex;
  align-items: center;
  @include borders.pill;

  .toggle_view {
    font-size: 1rem;
  }

  &.grid {
    .toggle_view {
      @include buttons.btn_primary;
      padding: 0.4rem;
    }
  }

  &.table {
    @include backgrounds.background("blue");
    padding: 0.1rem;

    button {
      border-radius: 0;
      @include buttons.btn_clear;
    }

    .toggle_view {
      border-right: 1px solid rgb(0 0 0 / 10%);
      @include borders.pill-left;
    }

    .toggle_sort {
      padding: 0.5rem;
      padding-right: 0.6rem;
      @include borders.pill-right;
    }
  }
}
