@use "../../../common/Button/index.module.scss" as buttons;

.container {
  position: relative;

  button {
    @include buttons.btn_clear;
  }

  ul {
    top: 2.8rem;
    right: 0;
    background: rgb(240, 240, 240);
    width: 3 00px;
  }
}
