.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  cursor: pointer;
  background: var(--background-blue);
  background: var(--background-blue-webkit-gradient);
  background: var(--background-blue-gradient);
  border: 0;
  border-radius: 5px;
  padding: 0.4em 1em;
  transition: 0.15s;
}

.task .btn {
  color: inherit;
}
.btn:hover,
.btn:focus {
  filter: brightness(0.85);
}

.btn:active {
  filter: brightness(0.7);
}

.btn:disabled {
  filter: brightness(0.9);
  opacity: 0.75;
}

.btn:disabled:hover {
  cursor: initial;
}

.btn-clear {
  background: rgb(0 0 0 / 0);
}

.btn-clear:hover,
.btn-clear:focus {
  background: rgb(0 0 0 / 10%);
}

.btn-clear:active {
  background: rgb(0 0 0 / 20%);
}

.btn-3d {
  box-shadow: 1px 1px 3px 1px black;
}

.btn-3d:active {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 1px 1px black;
}

.btn-circle {
  border-radius: 50%;
  box-sizing: content-box;
  padding: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}

.btn-pill {
  padding: 0.3em 1em;
  border-radius: var(--pill-border-radius);
}

.btn-icon {
  display: flex;
}

.btn-icon-left {
  margin-right: 0.5rem;
}

.btn-icon-right {
  margin-left: 0.5rem;
}
