textarea {
  color: inherit;
  display: block;
  background: inherit;
  width: 100%;
  resize: none;
  border: 0;
  outline: 0;
  font-weight: inherit;
}

textarea::placeholder {
  color: var(--shadow-color);
  opacity: 1;
}

.highlighted {
  background: rgba(230, 0, 192, 0.719);
}
