.tooltip-container {
  position: relative;
  font-size: 0.7rem;
}

.tooltip-box {
  position: absolute;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  bottom: calc(100% + 7px);
  /* left: calc(80% - 10px); */
}

.tooltip-arrow {
  position: absolute;
  bottom: -10px;
  left: 5px;
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
}
