$transition-duration: 0.25s;
$right-postion: calc(100% + 12px);

.container {
  position: relative;
  min-height: calc(100vh - 256px);

  .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;

    &.active {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  .display {
    display: flex;
    overflow-x: hidden;
    overflow-y: clip;

    .grid {
      position: relative;
      right: $right-postion;
      padding: 2rem 0;
      transition: all $transition-duration ease-in-out;

      &.active {
        right: 0;
        transition: all $transition-duration ease-out;
      }
    }

    .table {
      position: relative;
      right: calc(-1 * $right-postion);
      transition: all $transition-duration ease-in-out;

      &.active {
        right: $right-postion;
        right: 0;
        transition: all $transition-duration ease-out;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    min-height: calc(100vh - 180px);
  }
}
