@use "../../../../styles/abstracts/animations";

.container {
  height: calc(100vh - 256px);
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    animation: spin 1.5s linear infinite;
    font-size: 1.7rem;
    color: #555;
  }
}
