.container {
  justify-content: center;
  width: 100vw;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 680px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1330px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1690px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

// Masonry Grid styles - no solution yet

// .container {
//   .grid {
//     display: flex;
//     justify-content: center;
//     margin-left: -15px; /* gutter size offset */
//     width: 100%;
//   }

//   .column {
//     padding-left: 30px; /* gutter size */
//     background-clip: padding-box;
//     article {
//       margin: 0 auto;
//       margin-bottom: 1.5rem;
//     }
//   }
// }
