@use "../../../common/Button/index.module.scss" as buttons;

.settings_dropdown {
  position: relative;

  ul {
    top: 2.8rem;
    right: 0;
    font-size: 1rem;
    background: rgb(240, 240, 240);
  }

  button {
    transition: transform 0.65s;

    @include buttons.btn_clear;

    &.spin {
      transform: rotate(-180deg);
    }
  }
}
