@use "../../common/generic/Button/index.module.scss" as buttons;

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgb(0 0 0 / 35%);
  box-shadow: 0 -2px 5px -1.5px rgb(0 0 0 / 35%);

  .toolbar {
    font-size: 1.2rem;
    display: flex;
  }

  button {
    @include buttons.btn_clear;

    &.btn_save {
      @include buttons.btn_3d;
    }
  }
}
