@use "../../../common/Button/index.module.scss" as buttons;

.label {
  @include buttons.btn;
  @include buttons.btn_clear;
  @include buttons.btn_pill;

  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  max-width: 12ch;

  &.selected {
    max-width: 40ch;
  }

  .icon {
    font-size: 0.9em;
    margin-right: 0.3rem;
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete {
    @include buttons.btn_clear;
    padding: 0.1rem;
    font-size: 0.7rem;
    height: 12px;
    width: 12px;
  }
}

@media screen and (max-width: 680px) {
  .label {
    max-width: 17ch;
  }
}
