@use "../../../common/Button/index.module.scss" as buttons;
@use "../../../../styles/themes/backgrounds";

.container {
  @include backgrounds.background("blue");
  @include buttons.btn_pill;

  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.8rem;
  max-width: 50ch;

  .icon {
    font-size: 1rem;
  }

  .separator {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 0.5rem;
    height: calc(100% - 4px);
    width: 1px;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    overflow: hidden;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  button {
    @include buttons.btn_clear;
    padding: 0.1rem;
    margin-left: 0.3rem;
    height: 1rem;
    width: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .container {
    max-width: 25ch;
  }
}
