@use "styles/themes/backgrounds";
@use "styles/themes/colors";
@use "styles/abstracts/mixins";

.menu {
  width: 200px;
  @include backgrounds.background("blue");
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
  color: #777;

  &::-webkit-scrollbar {
    width: 8px;
  }
}
