.task-transition-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.task-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

.task-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.task-transition-exit-active {
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.3s ease-out;
}
