.hover-transition-enter {
  opacity: 0;
}

.hover-transition-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.hover-transition-exit {
  opacity: 1;
}

.hover-transition-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
