@use "styles/themes/colors";
@use "containers/NavBar/index.module.scss" as navbar;

body {
  background: map-get(colors.$colors-primary, "white");
  margin: 0;
  padding-top: navbar.$nav-height;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

:focus {
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
