.container {
  background: #444;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   font-size: 1rem;

  h1 {
    font-size: 4em;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2em;
  }

  a {
    margin: 1.5rem;
    font-size: 1.3em;
  }

  p {
    font-size: 1.5em;
  }
  span {
    color: rgb(255, 86, 86);
  }
}

@media screen and (max-width: 450px) {
  .container {
    font-size: 0.6rem;
  }
}
