@use "styles/themes/backgrounds";
@use "components/Button/index.module.scss" as buttons;

.container {
  position: relative;

  ul {
    top: 2.2rem;
    right: 0;
    font-size: 1rem;
    background: rgb(244, 244, 244);
  }

  button {
    @include buttons.btn_clear;
    padding: 0;
    font-size: 1.1em;

    transition: transform 0.7s;
    &.spin {
      transform: rotate(-360deg);
    }
  }

  .profile {
    color: #333;
    width: 200px;

    .top {
      display: flex;
      justify-content: flex-start;
      box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
      padding: 0.2rem;
      padding-bottom: 1.5rem;
      @include backgrounds.background("blue");
    }

    .bottom {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

      padding-top: 3rem;
      padding-bottom: 1rem;
    }
    .logout {
      padding: 0.3rem;
      transform: rotate(180deg);
    }

    .picture {
      position: absolute;
      top: 0;
      transform: translateY(-50%);

      img {
        box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
        height: 75px;
        width: 75px;
        border-radius: 50%;
      }
    }

    .name {
      font-weight: 500;
    }

    .email {
      font-size: 0.75rem;
    }

    .joined {
      border-radius: 5px;
      margin-top: 0.5rem;
      padding: 0.2rem 0.5rem;
      @include backgrounds.background("blue");
      font-size: 0.65rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    .profile {
      width: 150px;

      .picture {
        img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}
