@use "../../../../styles/themes/backgrounds";
@use "../../../../styles/themes/borders";
@use "../../../../styles/abstracts/functions";

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 0.4em 1em;
  transition: 0.15s;

  &:hover,
  &:focus {
    filter: brightness(0.85);
  }

  &:active {
    filter: brightness(0.7);
  }

  &:disabled {
    filter: brightness(0.9);
    opacity: 0.75;
    &:hover {
      cursor: initial;
    }
  }
}

.btn {
  @include btn;
}

.btn_circle {
  @include btn;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}

.icon {
  display: flex;
}

.icon_left {
  margin-right: 0.5rem;
}

.icon_right {
  margin-left: 0.5rem;
}

@mixin btn_primary {
  @include backgrounds.background("blue");
}

@mixin btn_clear {
  background: rgb(0 0 0 / 0);
  color: inherit;

  &:hover,
  &:focus {
    background: rgb(0 0 0 / 10%);
  }

  &:active {
    background: rgb(0 0 0 / 20%);
  }

  &:disabled {
    background: initial;
  }
}

@mixin btn_3d {
  box-shadow: 1px 1px 3px 1px black;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 0px 0px 1px 1px black;
  }
}

@mixin btn_pill {
  @include borders.pill;
  padding: 0.3em 1em;
}
