.labels-container {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.9;
}

.labels-container .btn,
.tag-icon {
  margin-right: 0.3rem;
}
.labels-container .btn-circle {
  padding: 0.3em;
  height: 1.5em;
  width: 1.5em;
}
